# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django specific
db.sqlite3
db.sqlite3-journal
media/
# static/  <-- Uncomment if you want to collect static files inside the container only

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store